# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo


notes.txt

public/workbox-*.js
public/service-worker.js
/ydb_certs/

parsing/home/parsed.json
/parsing/home/parsed1.json

parsing/home/new1.json
/parsing/mephist/materials/
/parsing/mephist/old data/

parsing/mephist/old_data/

parsing/home/tutor_imgs/

parsing/home/new1.zip

/parsing/mephist/photos/
/.env
/parsing/
/storybook-static/
/build-storybook.log
/functions/notion-api/node_modules/
/functions/notion-api/notion-api.zip

.env.old

terraform/.tfvars

terraform/config.s3.tfbackend
/terraform/main-lambda.zip
/terraform/notion-api.zip
/terraform/terraform.tfstate.backup
/terraform/terraform.tfstate
/functions/main-lambda-launcher/
/terraform/main-lambda/api/
/terraform/.terraform/
/terraform/static/

terraform/.terraform.lock.hcl
/pages/api/v1/dev/

pages/api/v1/dev1/
/terraform/main-lambda/

cloud-functions/notion-api/node_modules/

public/sitemap-0.xml

public/sitemap.xml

public/service-worker.js.map
